body {
  font-family: 'Poppins', Helvetica, sans-serif !important;
  color:#ffffff;
  background-color: #001615;
}

.container {
  max-width: 90%;
}

.container-fluid {
  max-width: 90%;
}

.fa-star {
  color: rgb(255, 174, 0);
}

.fa-eye {
  color: rgb(41, 167, 147);
}

.fa-exclamation-triangle {
  color: rgb(207, 72, 51);
}

.tooltip-main {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #00ce3e;
  border: 1px solid #737373;
  color: #737373;
  margin: 4px 121px 0 5px;
  float: right;
  text-align: left !important;
}

.tooltip-qm {
  float: left;
  margin: -2px 0px 3px 4px;
  font-size: 18px;
  color:#d1d1d1
}

.tooltip-inner {
  max-width: 236px !important;
  height: 100%;
  font-size: 16px;
  padding: 10px 15px 10px 20px;
  background: #001615;
  color: rgba(255, 255, 255);
  border: 1px solid #77ECC2;
  text-align: left;
  
}

.tooltip.show {
  opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f00;
  /* Red */
}

.bg-green {
  background-color: #004442!important;
}

.bg-fortra {
  background-color: #001615 !important;
}

.fg-cream {
  color: #E3E3E3!important;
}

select{
  color: #ffffff;
  background-color: transparent;
}

option{
  color: #ffffff;
  background-color: #001615;
}

input {
  color:#ffffff;
}

a {
    color: #77ECC2;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #8fe5f2;
    text-decoration: none;
    background-color: transparent;
}

table thead th{
    border-bottom: 1px solid #77ECC2 !important;
}

table tfoot th{
    border-top: 1px solid #77ECC2 !important;
}

table td{
    border-bottom: 1px solid rgba(143, 229, 242,0.2)  !important;
}

.btn { margin: 5px; 
      padding: 10px; 
      background-color: #ffffff; 
      color: #363e49; 
      border: none; 
      cursor: pointer; 
      border-radius: 1.5rem; 
      text-transform: uppercase; 
      font-weight: 700;
     }

.btn:hover {
  background-color: #ffffff; 
  color: #363e49;
}
.btn-success {
  background-color: #77ecc2; 
  color: #004442;
}

.btn-secondary {
  background-color: #8fe5f2; 
  color: #004442;
}

.btn-warning {
  background-color: rgb(255, 174, 0); 
  color: #004442;
}

.modal-content {
  background-color: #001615;
}

pre {
  color:#ffffff;
}

.copyright {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

footer {
  font-size: 0.8em;
}

footer .content h3, .footer .content h3 a, .footer h3, .footer h3 a {
    color: #8fe5f2;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    padding-right:20px;
}

.display-3 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 100px;
    font-family: 'Poppins', Helvetica, sans-serif !important;
    text-transform: uppercase;
}

.close {
    color: #ffffff;
}

.close:hover {
    color: #ffffff;
}